* {margin: 0px;padding: 0px;}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner { padding: 0;border: 0 }

@font-face {
	font-family: 'pt_sansregular';
	src: url('../fonts/pt_sans-web-regular-webfont.eot');
	src: url('../fonts/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt_sans-web-regular-webfont.woff') format('woff'),
		url('../fonts/pt_sans-web-regular-webfont.ttf') format('truetype'),
		url('../fonts/pt_sans-web-regular-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'pt_sansregular', Arial, Sans-serif;
}
.wrapper {
	padding: 45px 0;
	width: 980px;
	margin: 0 auto;
}
/* tweet */
.tweet {
	margin: 20px 18px;
	width: 276px;
	border: 1px solid #ccc;
	border-radius: 3px;
	}
	.tweet p {
		padding: 15px;
		font-size: 13px;
		line-height: 18px;
	}
	.tweet p a {
		color: #22C2E8;
	}
/* Rating block */
.b-rating-list {
	position: relative;
	margin: 0 0 40px 17px;
	width: 90px;
	height: 16px;
	background: url("../img/rating/stars.png");
	list-style: none;
	}
.b-rating-list li {
		float: left;
		width: 18px;
		height: 16px;
		list-style: none;
		}
		.b-rating-list li a {display: none;}
		.b-rating-list li i {
			position: absolute;
			z-index: 10;
			width: 18px;
			height: 16px;
		}
		.b-rating-list li:hover i,
		.b-rating-list li input:checked + i {
			left: 0px;
			z-index: 2;
			background: url("../img/rating/stars.png") bottom right;
		}
		.b-rating-list li input {
			opacity: 0;
			filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
			z-index: 15;
			position: relative;
			width: 18px;
			height: 16px;
			cursor: pointer;
		}

		#list_item1:hover i, #list_item1 input:checked + i {width: 18px;}
		#list_item2:hover i, #list_item2 input:checked + i {width: 36px;} 
		#list_item3:hover i, #list_item3 input:checked + i {width: 54px;} 
		#list_item4:hover i, #list_item4 input:checked + i {width: 72px;} 
		#list_item5:hover i, #list_item5 input:checked + i {width: 90px;} 
		#current {
			position: absolute;
			left: 0;
			top: 0;
			height: 16px;
			text-indent: -9000px;
			z-index: 1;
			background: url("../img/rating/stars.png") bottom right;
		}

/* Progress bar */
.progress-bar_css3 {
	background: #fff;
	border-radius: 13px;
	-webkit-border-radius: 13px;
	height: 13px;
	width: 210px;
	box-shadow: 0 1px 3px rgba(0,0,0,.29) inset;
	position: relative;
	margin: 0 0 27px 18px;
	text-align: center;
	line-height: 13px;
	font-size: 9px;
	font-family: Verdana, Arial, Sans-serif;
}
.progress-bar_css3:after {
	content: "";
	width: 20%;
	height: 100%;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	background: #abff58;
	background: -moz-linear-gradient(top,  #abff58 0%, #9cf851 8%, #86ee46 17%, #3bca21 42%, #2cc218 50%, #29bf14 58%, #3cc214 67%, #7bd517 83%, #8bda1a 92%, #64cf18 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abff58), color-stop(8%,#9cf851), color-stop(17%,#86ee46), color-stop(42%,#3bca21), color-stop(50%,#2cc218), color-stop(58%,#29bf14), color-stop(67%,#3cc214), color-stop(83%,#7bd517), color-stop(92%,#8bda1a), color-stop(100%,#64cf18));
	background: -webkit-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: -o-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: -ms-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: linear-gradient(to bottom,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}

/* Buttons block */
.buttons-list {margin: 0 0 58px 18px;}
.btn {
	font-family: Verdana, Arial, Sans-serif;
	display: inline-block;
	padding: 0 5px;
	margin: 0 10px 0 0;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	outline: 0;
	min-width: 80px;
	height: 18px;
	font-size: 11px;
	line-height: 18px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #e2e2e2 ;
	border: 0px;
	background-image: -webkit-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -moz-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -o-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -ms-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: linear-gradient(to top, #e2e2e2 30%, #f2f2f2 70%);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
	color: #000;
	cursor: pointer;
	position:relative;
}
.btn:before {
	content: "";
	position: absolute;
	left: -1px;
	right: -1px;
	top: -1px;
	bottom: -1px;
	background-color: red;
	border-radius: 6px;
	z-index: -1;
	background-color: #a8a8a8;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.35) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.35)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.35) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.35) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.35) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.35) 100%);
}
.btn:hover {
	background-color: #feffeb;
	background-image: -webkit-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
	background-image: -moz-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
	background-image: -o-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
	background-image: -ms-linear-gradient(bottom, #fdffcc 30%, #feffeb 70%);
	background-image: linear-gradient(to top, #fdffcc 30%, #feffeb 70%);
}
.btn:focus {
	-webkit-box-shadow: 0 0 4px rgba(0,35,214,.94);
	-moz-box-shadow: 0 0 4px rgba(0,35,214,.94);
	box-shadow: 0 0 4px rgba(0,35,214,.94);
	outline: none;
}
.btn:active {
	background: #f2f2f2;
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.26);
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.26);
	box-shadow: inset 0 2px 3px rgba(0,0,0,.26);
	background-image: -webkit-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -moz-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -o-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: -ms-linear-gradient(bottom, #e2e2e2 30%, #f2f2f2 70%);
	background-image: linear-gradient(to top, #e2e2e2 30%, #f2f2f2 70%);
	}
	.btn:active:before {
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.1) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.35)), color-stop(100%,rgba(0,0,0,0.1)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%);
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.35) 0%,rgba(0,0,0,0.1) 100%);
	}
input.btn {
	border: 1px solid #a8a8a8;
	border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .23) rgba(0, 0, 0, .35); 
	height: 20px;
	line-height: 18px;
	min-width: 82px;
	}
	input.btn:active {
		border-color: rgba(0, 0, 0, .35) rgba(0, 0, 0, .23) rgba(0, 0, 0, .1); 
	}
/* For ie8 and less*/
.lteie9 button.btn, .lteie9 input.btn {line-height: 15px;}
.lteie9 .btn, .lteie9 .btn:before {background-color: #e2e2e2; border: 1px solid #a8a8a8; position: relative; width: 82px; height: 20px;}
.lteie9 .btn:hover {background-color: #feffeb;}
.lteie9 button.btn, .lteie9 button.btn:before  {border: 1px solid #a8a8a8;}


/* Browsers styles */
.browser-list {
	margin: 0 17px 72px 14px;
	list-style: none;
	overflow: hidden;
	}
	.browser-list li {
		width: 125px;
		height: 133px;
		line-height: 133px;
		position: relative;
		float: left;
		z-index: 10;
		}
		.browser-list li span {
			display: block;
			text-align: center;
			z-index: -1;
			position: relative;
		}
	
		.browser-list__item_chrome {color: #f9d411;}
			.browser-list__item_chrome i {font-style: normal;}
			.browser-list__item_chrome i:nth-child(1) {color: #22a12a;}
			.browser-list__item_chrome i:nth-child(2) {color: #c90000;}
		.browser-list__item_firefox {color: #f2a414;}
		.browser-list__item_opera {color: #c10e0e;}
		.browser-list__item_safari{color: #b6b6b6;}
		.browser-list .browser-list__item_ie {
			float: right;
			color: #036da3;
			}
			.browser-list__item_ie span {
				width: 80px;
				display: block;
				line-height: 14px;
				padding-top: 55px;
			}

		.browser-list li img {
			z-index: 15;
			position: absolute;
		}
		.browser-list__item_chrome img{
			width: 126px;
			height: 125px;
		}
		.browser-list__item_firefox img{
			width: 120px;
			height: 125px;
		}
		.browser-list__item_opera img{
			width: 110px;
			height: 125px;
		}
		.browser-list__item_safari img{
			width: 112px;
			height: 125px;
		}
		.browser-list__item_ie img{
			width: 126px;
			height: 125px;
		}
		.browser-list li:after {
			content: '';
			background: url("../img/browser/1px_fff.png") center;
			display: block;
			width: 125px;
			height: 133px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
		}

/* Two column text block */
.text-columns {
	overflow: hidden;
	padding-left: 20px;
	font-family: 'pt_sansregular', Verdana, Arial, Sans-serif;
	}
	.text_header {
		width: 350px;
		margin-bottom: 24px;
		font-size: 24px;
		line-height: 1;
		font-weight: lighter;
		color: #333;
	}
	.multicolumn {
		-moz-column-count: 2;
		-moz-column-gap: 20px;
		-webkit-column-count: 2;
		-webkit-column-gap: 80px;
		}
		.multicolumn  p {
			text-indent: 15px;
			margin-bottom: 21px;
			font-size: 16px;
			line-height: 1.4;
		}
	.list_links {
		list-style: none;
		padding-left: 0px;
		font-size: 16px;
		line-height: 1.45;
		position: relative;
		}
		.link {color: #0070ed;}
		.pseudo_link {
			color: #353434;
			border-bottom: 1px dashed #353434;
			line-height: 16px;
		}
		.list_links li:before {
			content: "—";
			position: absolute;
			left: -19px;
		}
		
		
/* for ie8 and less than ie8*/
.lteie9 .progress-bar_css3 {display: none;}
.lteie9 .b-progress-inner, .lteie9 .b-progress-outer {background: url("../img/progress/bg-progress-1.png") repeat-x;}
.lteie9 .b-progress-outer {background-position: 0 -15px;}
.lteie9 .b-progress-outer {display: block;}
.b-progress-outer {
	display: none;
	background: #fff;
	border-radius: 13px;
	-webkit-border-radius: 13px;
	height: 13px;
	width: 210px;
	box-shadow: 0 1px 3px rgba(0,0,0,.29) inset;
	position: relative;
	margin: 0 0 27px 18px;
	text-align: center;
	line-height: 13px;
	font-size: 9px;
}
.b-progress-inner {
	width: 20%;
	height: 100%;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	background: #abff58;
	background: -moz-linear-gradient(top,  #abff58 0%, #9cf851 8%, #86ee46 17%, #3bca21 42%, #2cc218 50%, #29bf14 58%, #3cc214 67%, #7bd517 83%, #8bda1a 92%, #64cf18 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abff58), color-stop(8%,#9cf851), color-stop(17%,#86ee46), color-stop(42%,#3bca21), color-stop(50%,#2cc218), color-stop(58%,#29bf14), color-stop(67%,#3cc214), color-stop(83%,#7bd517), color-stop(92%,#8bda1a), color-stop(100%,#64cf18));
	background: -webkit-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: -o-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: -ms-linear-gradient(top,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	background: linear-gradient(to bottom,  #abff58 0%,#9cf851 8%,#86ee46 17%,#3bca21 42%,#2cc218 50%,#29bf14 58%,#3cc214 67%,#7bd517 83%,#8bda1a 92%,#64cf18 100%);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2;
}
.b-progress-percent {
	position: relative;
	z-index: 10;
	font-family: Verdana, Arial, Sans-serif;
}
.lteie9 .Article {	
	column-count: 3;
	column-gap: 20px;
	column-rule: 1px dotted #BBB;
	background-color: #FFFFFF;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;	
	padding: 8px;
	text-align: justify;
}
/* */
.lteie9 .browser-list li span {*display: none;}
/* end */